* {
    font-family: "arial";
}

.st {
    border: 1px solid black;
    margin: 10px;
    padding: 5px;
    width: 400px;
    text-align: center;
}

.st:hover {
    background-color: aliceblue;
}

.showtimes {
    display: flex;
    flex-wrap: wrap;
}

.navbar {
    display: flex;
    padding: 20px;
    background-color: azure;
}

.navbar-element {
    margin-right: 20px;
}

.navbar-element a {
    text-decoration: none;
    color:black;
    font-size: large;
}

.navbar-element a:hover {
    color:rgb(122, 108, 108)
}

table {
    border-collapse: collapse;
    margin: 20px;
}

td {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    text-align: center;
    cursor: pointer;
}

td:hover {
    background-color: aliceblue;
}

td.disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

td.selected {
    background-color: #4CAF50;
    color: white;
}

#ticket-form {
    text-align: center;
}